*{
    margin: auto ;
    padding: 0%;
}
#fild{
    align-items: center;
    margin: 10%;
    border-radius: 1%
}
.titulo{
    font-size: 40px;
    font: bold;
    
}
.text01{
    color:green;
}
.text02{
    color:green;
}
.text03{
    color:green;
}
.text04{
    font-size: 20%;
}